html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 25px 'Times New Roman';
	line-height: 1.4em;
	background: grey;
	color: #4d4d4d;
	width: 50%;
	margin: 0 auto;
}

input[type="button"],
input[type="checkbox"] {
  outline: none;
}

#todo-container {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#todo-container:before {
	content: '';
	border-left: 1px solid #f5d6d6;
	border-right: 1px solid #f5d6d6;
	width: 2px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
}

#createTask,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

#createTask {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
}

#checkAll {
	z-index: 5;
	position: absolute;
	top: 10px;
	left: -20px;
	width: 40px;
	text-align: center;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

#checkAll:before {
	content: '✔';
	font-size: 30px;
	color: #d9d9d9;
	padding: 0 25px 7px;
}

#checkAll:checked:before {
	color: #737373;
}

#toDoList {
	margin: 0;
	padding: 0;
	list-style: none;
}

#toDoList li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

#toDoList li:last-child {
	border-bottom: none;
}

#toDoList li .edit {
	border: none;
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
	background: rgba(250, 50, 100, 0.2);
	box-shadow: none;
}

#toDoList li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	top: 10px;
	bottom: 0;
	margin: auto 0;
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

}

#toDoList li .toggle:after {
	content: '✓';
	line-height: 43px;
	font-size: 22px;
	color: #d9d9d9;
	text-shasdow : 0 -1px 0 #bfbfbf;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px / 25px;
}

#toDoList li .toggle:checked:after {
	border: 1px;
	color: green;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px / 25px;
}

#toDoList li label {
	white-space: pre;
	word-break: break-word;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

#toDoList li label.checkedTask {
	color: #a9a9a9;
	text-decoration: line-through;
}

#toDoList li .remove {
	text-align: center;
	display: none;
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	width: 25px;
	height: 25px;
	margin: auto 0;
	padding: 0px;
	border: none;
	border-radius: 12.5px;
	font-size: 18px;
	line-height: 18px;
	color: #a88a8a;
	box-shadow: none;
	background: rgba(255, 218, 185, 0.2);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	
}

#toDoList li .remove:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#toDoList li:hover .remove {
	display: block;
}

#clearChecked {
	text-align: center;
	position: relative;
	z-index: 5;
	bottom: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	margin: auto 0;
	margin-top: 5px;
	padding: 0px;
	border: none;
	font-size: 25px;
	line-height: 25px;
	color: red;
	background: #d9d9d9;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#clearChecked:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}